.headerNav {
  box-sizing: border-box;
  background-color: var(--cardBackground);
  width: 100%;
  /* margin: 0.5rem; */
  padding: 2rem;
  border-radius:10px;
}

.dark-mode-btn {
  display: inline-block;
  height:1rem;
  margin: 0 1rem;
  cursor: pointer;
}

.dark-mode-btn:hover {
  color:purple
}
