@import './styles/colors.css';
@import './styles/dark.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainContainer {
  margin: 0 auto;
  height: 100%;
  width : 60%;
}

.graph {
  background-color: var(--cardBackground);
  width:60%;
  margin:0.5rem;
}

.pie{
  background-color: var(--cardBackground);
  width:40%;
  margin: 0.5rem;
}
.app {
  margin-top:1rem;
  /* width:100vw; */
  display: flex;
  justify-content: center;
  flex-wrap: none;
}
