@import './styles/colors.css';
@import './styles/dark.css';

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainContainer {
  margin:  1rem auto;
  width : 70vw;
  color: var(--text);
}

.graph, .pie{
  box-shadow: 5px 5px 5px 3px rgb(0 0 0 / 0.1);
}
.leftContainer{
  width:60%;
}
.rightContainer{
  width:40%;
}
.graph {
  /* height: 500px; */
  box-sizing: border-box;
  /* display: inline-block; */
  background-color: var(--cardBackground);
  /* width: calc(60% - 5px); */
  width:100%;
  margin-right:5px;
  margin-top:10px;
  padding:2rem;
}

.pie{
  /* height: 100%; */
  box-sizing: border-box;
  /* display: inline-block; */
  background-color: var(--cardBackground);
  /* width:calc(40% - 5px); */
  width:100%;
  margin-left: 5px;
  margin-top:10px;
  padding: 2rem;
  
}
.app {
  /* margin-top:1rem; */
  /* width:100vw; */
  display: flex;
  justify-content: center;
  flex-wrap: none;
  width:100%;
}
