.btn-container{
  display: flex;
  align-items:center;
}

.btn {
  /* width:20%; */
  background-color: black;
  color: white;
  margin: 1em;
  padding:0.25em 1em;
  cursor: pointer;
}

.btn:hover {
  background-color: purple;
}
.btn-container_btn {
  height:30px;
  margin: 0.5rem 0.25rem;
  border:1px solid black;
  /* border-radius:10px; */
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container_btn:hover{
  background-color: black
}

.currencyBtn {
  height: 100%;
  background-color: black;
  color: white;
}
 
.currencyIcon {
  height: 25px;
  margin:0.5em;
  cursor: pointer;
}